.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212529;
    color: white;
  }
  
  h1{
    margin-left: 15px;
  }
  
  .monitoring-btn-container{
    margin-right: 10%;
  }

  .monitoring-btn-container > button{
    height: 30px;
    color: #212529;
  }