/* App.css */

.nav-contents {
  display: flex;
}

.contents {
  width: 100%;
  display: flex; /* 컨텐츠를 가로로 나란히 배치하기 위해 display 속성을 flex로 설정합니다. */
  flex-direction: column;
}

.simple {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.donuts-charts {
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.line-charts {
  width: 578px;
  height: 231px;
}


